<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,131}</string>
                <key>spriteSourceSize</key>
                <string>{127,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blank_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{1,267},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blank_button_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,131}</string>
                <key>spriteSourceSize</key>
                <string>{127,131}</string>
                <key>textureRect</key>
                <string>{{1,134},{127,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blank_button.png</string>
            <key>size</key>
            <string>{129,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d30a5c74371bfc0a0ee5a7bb3c54fc1:c5c13023a770c66619d8ac5fbdb3967a:a5d6ea3370e55ad1a55315095ef3c85e$</string>
            <key>textureFileName</key>
            <string>blank_button.png</string>
        </dict>
    </dict>
</plist>
