<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{560,262},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blank_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{688,129},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blank_button_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{689,258},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changearrow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,131}</string>
                <key>spriteSourceSize</key>
                <string>{126,131}</string>
                <key>textureRect</key>
                <string>{{560,129},{126,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changearrow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,131}</string>
                <key>spriteSourceSize</key>
                <string>{126,131}</string>
                <key>textureRect</key>
                <string>{{568,1},{126,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>d_pad_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{409,412},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_pad_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,99}</string>
                <key>spriteSourceSize</key>
                <string>{104,99}</string>
                <key>textureRect</key>
                <string>{{303,412},{104,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_pad_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{509,395},{95,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{1,472},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{91,472},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dpad_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{46,472},{38,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dpad_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{135,472},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_arrow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,126}</string>
                <key>textureRect</key>
                <string>{{303,1},{135,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_arrow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,126}</string>
                <key>textureRect</key>
                <string>{{303,138},{135,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{701,1},{90,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{606,391},{90,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus_coins_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{698,387},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plus_coins_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{698,448},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reset_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,131}</string>
                <key>spriteSourceSize</key>
                <string>{127,131}</string>
                <key>textureRect</key>
                <string>{{431,129},{127,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reset_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,131}</string>
                <key>spriteSourceSize</key>
                <string>{127,131}</string>
                <key>textureRect</key>
                <string>{{431,262},{127,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,155}</string>
                <key>textureRect</key>
                <string>{{1,158},{149,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,155}</string>
                <key>textureRect</key>
                <string>{{1,315},{149,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resume_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,155}</string>
                <key>textureRect</key>
                <string>{{152,1},{149,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectlevel_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,155}</string>
                <key>textureRect</key>
                <string>{{152,158},{149,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectlevel_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,155}</string>
                <key>textureRect</key>
                <string>{{152,315},{149,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shot_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,126}</string>
                <key>textureRect</key>
                <string>{{303,275},{135,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shot_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,126}</string>
                <key>textureRect</key>
                <string>{{431,1},{135,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{216,472},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{179,472},{36,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{817,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32d00682f0605125a89e2109d4518090:75bba05bc878ebc82990a1994e919c43:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
