<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{1,278},{70,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bee_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,75}</string>
                <key>spriteSourceSize</key>
                <string>{66,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bee_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,85}</string>
                <key>spriteSourceSize</key>
                <string>{69,85}</string>
                <key>textureRect</key>
                <string>{{1,207},{69,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bee_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,73}</string>
                <key>textureRect</key>
                <string>{{1,137},{68,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bee_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,85}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{1,423},{74,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bee_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{71,78}</string>
                <key>textureRect</key>
                <string>{{1,350},{71,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bee_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{66,81}</string>
                <key>textureRect</key>
                <string>{{1,69},{66,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bee.png</string>
            <key>size</key>
            <string>{87,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf0ce5e8312a53b0ed3bd2ca18e1509a:42c3f5aa77f689993f6122be7c59cc7a:945f294eb8780b1275d93cffc1d6634a$</string>
            <key>textureFileName</key>
            <string>bee.png</string>
        </dict>
    </dict>
</plist>
