<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beetle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beetle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beetle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{75,73},{70,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>beetle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{75,73},{70,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>beetle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{1,53},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beetle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{72,50}</string>
                <key>textureRect</key>
                <string>{{1,53},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beetle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,47}</string>
                <key>textureRect</key>
                <string>{{75,1},{70,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>beetle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,47}</string>
                <key>textureRect</key>
                <string>{{75,1},{70,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>beetle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,23}</string>
                <key>spriteSourceSize</key>
                <string>{70,23}</string>
                <key>textureRect</key>
                <string>{{1,105},{70,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beetle.png</string>
            <key>size</key>
            <string>{123,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d266eeddbacc5a40ebc81f0f3ad64b2a:2d5cf3c710b775fd520d71e2ff327123:6dbd2547e501ab173b78dd7361c38a46$</string>
            <key>textureFileName</key>
            <string>beetle.png</string>
        </dict>
    </dict>
</plist>
