<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,89}</string>
                <key>spriteSourceSize</key>
                <string>{168,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,87}</string>
                <key>spriteSourceSize</key>
                <string>{167,87}</string>
                <key>textureRect</key>
                <string>{{171,1},{167,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,88}</string>
                <key>spriteSourceSize</key>
                <string>{166,88}</string>
                <key>textureRect</key>
                <string>{{340,1},{166,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,88}</string>
                <key>spriteSourceSize</key>
                <string>{158,88}</string>
                <key>textureRect</key>
                <string>{{670,1},{158,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,87}</string>
                <key>spriteSourceSize</key>
                <string>{160,87}</string>
                <key>textureRect</key>
                <string>{{508,1},{160,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,86}</string>
                <key>spriteSourceSize</key>
                <string>{151,86}</string>
                <key>textureRect</key>
                <string>{{830,1},{151,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,107}</string>
                <key>spriteSourceSize</key>
                <string>{121,107}</string>
                <key>textureRect</key>
                <string>{{1114,1},{121,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,101}</string>
                <key>spriteSourceSize</key>
                <string>{129,101}</string>
                <key>textureRect</key>
                <string>{{983,1},{129,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss2.png</string>
            <key>size</key>
            <string>{1236,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a1d13e670dce7ba1808d31cad770aa5:b6f3e503b9bc169b3161db011dbf9f64:94eb449c2031534bc22f8d17a082353d$</string>
            <key>textureFileName</key>
            <string>boss2.png</string>
        </dict>
    </dict>
</plist>
