<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bstar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bstar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{63,1},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bstar_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{125,1},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bstar_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,62}</string>
                <key>spriteSourceSize</key>
                <string>{59,62}</string>
                <key>textureRect</key>
                <string>{{187,1},{59,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bstar.png</string>
            <key>size</key>
            <string>{247,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2c3101222308482cc97edd3a2c92632:cc90efc68c20d0d5d072f28d5b0f6c02:2fb9f2b19a2eaaa9ba4ca33946e22e26$</string>
            <key>textureFileName</key>
            <string>bstar.png</string>
        </dict>
    </dict>
</plist>
