<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cactus_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,103}</string>
                <key>spriteSourceSize</key>
                <string>{68,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,102}</string>
                <key>spriteSourceSize</key>
                <string>{74,102}</string>
                <key>textureRect</key>
                <string>{{71,1},{74,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,99}</string>
                <key>spriteSourceSize</key>
                <string>{76,99}</string>
                <key>textureRect</key>
                <string>{{223,1},{76,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,102}</string>
                <key>spriteSourceSize</key>
                <string>{74,102}</string>
                <key>textureRect</key>
                <string>{{147,1},{74,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cactus.png</string>
            <key>size</key>
            <string>{300,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4fe08de00a00b804588f6479731cd4a:71ca5e86d57fa8e42a84cc47a3424003:8a2000595c7746fa45535045832847db$</string>
            <key>textureFileName</key>
            <string>cactus.png</string>
        </dict>
    </dict>
</plist>
