<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crab_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,63}</string>
                <key>spriteSourceSize</key>
                <string>{93,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,59}</string>
                <key>spriteSourceSize</key>
                <string>{94,59}</string>
                <key>textureRect</key>
                <string>{{1,66},{94,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,65}</string>
                <key>spriteSourceSize</key>
                <string>{88,65}</string>
                <key>textureRect</key>
                <string>{{97,60},{88,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,57}</string>
                <key>spriteSourceSize</key>
                <string>{97,57}</string>
                <key>textureRect</key>
                <string>{{96,1},{97,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,37}</string>
                <key>spriteSourceSize</key>
                <string>{100,37}</string>
                <key>textureRect</key>
                <string>{{195,1},{100,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crab.png</string>
            <key>size</key>
            <string>{233,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32358d47c6348bd4b9ad63d080ea2b64:6cc85c4b0fa926da8f3c20b4a3d524f8:ca88185d31315eaeded9ae2c763714a8$</string>
            <key>textureFileName</key>
            <string>crab.png</string>
        </dict>
    </dict>
</plist>
