<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_shost_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,59}</string>
                <key>spriteSourceSize</key>
                <string>{48,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_shost_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,59}</string>
                <key>spriteSourceSize</key>
                <string>{48,59}</string>
                <key>textureRect</key>
                <string>{{51,1},{48,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_shost_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,59}</string>
                <key>spriteSourceSize</key>
                <string>{48,59}</string>
                <key>textureRect</key>
                <string>{{101,1},{48,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_shost_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,59}</string>
                <key>spriteSourceSize</key>
                <string>{48,59}</string>
                <key>textureRect</key>
                <string>{{151,1},{48,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flower.png</string>
            <key>size</key>
            <string>{200,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4bbadfa719cf0af7f654b80f2e7846f:fc4e4dbf1a4dbdf7d52c6991efd5fb3c:28b5f63aee02c9e802c3848dbb8fc9b7$</string>
            <key>textureFileName</key>
            <string>flower.png</string>
        </dict>
    </dict>
</plist>
