<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground_dark_center-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_e-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_es-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_es_shadow-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{96,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_esw-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{192,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_esw_shadow-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{192,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_ew-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{288,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_n-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{288,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_ne-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{384,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_nes-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{384,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_nes_shadow-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{480,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_nesw-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{480,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_nesw_shadow-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{576,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_new-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{576,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_ns-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{672,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_ns_shadow-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{672,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_nsw-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{768,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_nsw_shadow-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{768,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_nw-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{864,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_s-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{864,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_s_shadow-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{960,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_sw-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{960,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_sw_shadow-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{1056,0},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_dark_w-hd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{1056,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ground.png</string>
            <key>size</key>
            <string>{1152,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52917933f17e501f2c047d14d4a7eb81:82d60629c462650132d7aacc52b8fd71:16aee92c76fe9b774da8adeacfa7d805$</string>
            <key>textureFileName</key>
            <string>ground.png</string>
        </dict>
    </dict>
</plist>
