<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,100}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{309,219},{82,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{1,499},{73,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,101}</string>
                <key>spriteSourceSize</key>
                <string>{76,101}</string>
                <key>textureRect</key>
                <string>{{312,141},{76,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{408,521},{80,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,96}</string>
                <key>spriteSourceSize</key>
                <string>{81,96}</string>
                <key>textureRect</key>
                <string>{{410,355},{81,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{307,458},{79,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,103}</string>
                <key>spriteSourceSize</key>
                <string>{68,103}</string>
                <key>textureRect</key>
                <string>{{316,1},{68,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{106,97},{78,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{411,277},{76,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,103}</string>
                <key>spriteSourceSize</key>
                <string>{94,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{1,419},{78,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,100}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{206,271},{82,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{307,383},{73,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,101}</string>
                <key>spriteSourceSize</key>
                <string>{76,101}</string>
                <key>textureRect</key>
                <string>{{104,177},{76,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{407,603},{80,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,96}</string>
                <key>spriteSourceSize</key>
                <string>{81,96}</string>
                <key>textureRect</key>
                <string>{{409,438},{81,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{205,510},{79,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,103}</string>
                <key>spriteSourceSize</key>
                <string>{68,103}</string>
                <key>textureRect</key>
                <string>{{316,71},{68,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{1,167},{78,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{76,95}</string>
                <key>textureRect</key>
                <string>{{203,591},{76,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,103}</string>
                <key>spriteSourceSize</key>
                <string>{94,103}</string>
                <key>textureRect</key>
                <string>{{106,1},{94,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{308,303},{78,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,100}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{103,349},{82,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{205,435},{73,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,101}</string>
                <key>spriteSourceSize</key>
                <string>{76,101}</string>
                <key>textureRect</key>
                <string>{{1,247},{76,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{103,513},{80,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,96}</string>
                <key>spriteSourceSize</key>
                <string>{81,96}</string>
                <key>textureRect</key>
                <string>{{1,574},{81,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,99}</string>
                <key>spriteSourceSize</key>
                <string>{79,99}</string>
                <key>textureRect</key>
                <string>{{306,539},{79,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,103}</string>
                <key>spriteSourceSize</key>
                <string>{68,103}</string>
                <key>textureRect</key>
                <string>{{1,97},{68,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{209,97},{78,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{205,355},{78,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,103}</string>
                <key>spriteSourceSize</key>
                <string>{94,103}</string>
                <key>textureRect</key>
                <string>{{211,1},{94,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{103,433},{78,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{207,177},{92,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{104,255},{92,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{1,325},{92,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{87,93}</string>
                <key>textureRect</key>
                <string>{{99,595},{87,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{415,191},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,93}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{421,1},{84,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{93,770},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{87,93}</string>
                <key>textureRect</key>
                <string>{{1,657},{87,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{96,684},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,93}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{421,96},{84,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{181,770},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{87,93}</string>
                <key>textureRect</key>
                <string>{{300,620},{87,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{1,746},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,93}</string>
                <key>spriteSourceSize</key>
                <string>{84,93}</string>
                <key>textureRect</key>
                <string>{{194,669},{84,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{395,685},{86,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{78,88}</string>
                <key>textureRect</key>
                <string>{{289,709},{78,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{78,88}</string>
                <key>textureRect</key>
                <string>{{269,789},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,88}</string>
                <key>spriteSourceSize</key>
                <string>{78,88}</string>
                <key>textureRect</key>
                <string>{{349,789},{78,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{507,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ee90e971f0704d0dcaf186f7c87f1a3:5773668aeacdde9d72d4381f4befed32:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
