<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_prev_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,128}</string>
                <key>spriteSourceSize</key>
                <string>{123,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_prev_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1,131},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pre_button.png</string>
            <key>size</key>
            <string>{125,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2652039dd9c244e6a3fbc4a10290cfe8:f56ba01fbdbf1902980e861710d69980:cffdc87f63a0347f7dba24d97fe823cf$</string>
            <key>textureFileName</key>
            <string>pre_button.png</string>
        </dict>
    </dict>
</plist>
