<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snail_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{62,51}</string>
                <key>textureRect</key>
                <string>{{193,1},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,53}</string>
                <key>spriteSourceSize</key>
                <string>{62,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{65,1},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{129,1},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{257,1},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>snail.png</string>
            <key>size</key>
            <string>{301,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88b1537427d2c1ecf6283e03fe199cd3:5e278a2540e079d9c5bd0a15c845053d:97ddf434755038fd5d6537df094ff554$</string>
            <key>textureFileName</key>
            <string>snail.png</string>
        </dict>
    </dict>
</plist>
